.card{
    height: 300px;
    width: 450px;
    margin: 100px;
    background-color: plum;
    border: 5px solid black;
    overflow: hidden;   
}
.card img{
        height: inherit;
        width: inherit;
        transition:1s;
}
.card img:hover{
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}