.box{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    animation: party 5s ease infinite ;
    /* transition: 2s; */
}
.mid{
    height: 200px;
    width: 200px;
    background-color: blue;
    top: 30%;
    left: 30%;
    position: absolute;
    border-radius: 30%;
    animation: ani 1s ease-in infinite ;
}
@keyframes ani {
    50%{
        
        background-color: aquamarine;
        transform: rotateY(180deg);
    }
    100%{
        background-color: blueviolet;
    }
    
}
@keyframes party{
    0%{
        background-color: rgb(230, 138, 0);
        left: 10px;
        transition: 2s;
    }
    25%{
        background-color: rgb(0, 104, 230);
        right: 10px;
        border-radius: 50%;
        transition: 2s;
    }
    50%{
        background-color: rgb(230, 138, 0);
        bottom: 10px;
        transition: 2s;
        
    }
    75%{
        background-color: rgb(0, 104, 230);
        right: 10px;
        transition: 2s;
        border-radius: 50%;
    }
    100%{
        background-color: rgb(0, 104, 230);
        right: 10px;
        transition: 2s;
        
    }
    
}