.navbar{
    height: 75px;
    width: 100%;
    background-color: rgba(9, 9, 6, 0.885);
    border-radius: 40px;
    position: sticky;
    top: 20px;
    z-index: 1;
}
.imgg:hover{
    transform: rotateY(360deg);
    cursor: pointer;
}
.btn{
    height:30px;
    width: 100px;
    margin-left: 10px;
    background-color: rgb(48, 48, 186);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(49, 47, 47);
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
   font-weight: 700;
   font-style: normal;
   box-shadow: 1px 1px 5px 1px rgb(181, 172, 172);
   transition: 1s;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.button{
    position: absolute;
    right: 25px;
    top: 20px;
}
.navbar img{
    position: absolute;
    left: 10px;
    top: 2px;
}
.navbar ul li{
    text-decoration: none;
    display: inline;
    right: 0;
    gap: 10px;
    margin-left: 60px;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.navbar ul{
    position: absolute;
    right: 300px;
    top: 10px;
}
.navbar li:hover{
    cursor: pointer;
    transform: translateY(-10px);
}
body{
    height:16000px;
}
.whole{
    height: 1500px;
    width: 100%;
    background: url(https://imgd.aeplcdn.com/664x374/n/cw/ec/192747/m5-exterior-right-front-three-quarter-10.jpeg?isig=0&q=80);
    position: absolute;
    top: 0px;
    filter: blur(2px);
}
.sticky{
    height: 200px;
    width: 200px;
    background-color: rgba(194, 207, 203, 0.767);
    position: fixed;
    bottom: 5px;
    right: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 2px 2px;
    z-index: 1;
}
.sticky img{
    position: absolute;
    left: 20px;
    top:20px;
}
.sticky h2{
    position: absolute;
    left: 70px;
    top:10px;
    font-size: 19px;
}
.sticky h3{
    position: absolute;
    left: 35px;
    top:60px;
    font-size: 19px;
}
.text{
    font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-left: 20px;
  text-transform: capitalize;
  text-align: justify;
  margin-top: 40px;
}
.main{
    width: 900px;
    height: 420px;
    background: linear-gradient(blue,violet);
    position: absolute;
    top: 150px;
    left: 270px;

}
.main h1{
    position: relative;
    left: 300px;
    font-family: "Poppins",sans-serif;
}
.img{
    height: 300px;
    width: 300px;
    position: absolute;
    right: 20px;
    overflow: hidden;
}
.img img{
    height: inherit;
    width: inherit;
    transition: 1s ease-in-out;
}
.img img:hover{
    transform: scale(1.3);
}
.info{
    width: 500px;
    position: absolute;
    left: 20px;
    text-align: justify;
}
.logo{
    font-size: 40px;
    position: absolute;
    bottom:20px;
    right: 400px;

}
.logo i{
    background-color: aliceblue;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}
.logo i:hover{
    transform: rotateY(360deg);
    cursor: pointer;

}

body {
    margin: 0;
    padding:0;
  }
  
.logo{
    position: absolute;
    bottom: 90px;
    left:350px ;
}
.logo ul {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
.logo ul li {
    list-style: none;
  }
  
  .logo ul li a {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
.logo ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
.logo ul li a:hover .icon {
    color: #000000;
    transform: rotateY(360deg);
  }
  
.logo ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
 .logo ul li a:hover:before {
    top: 0;
  }
  
  ul li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  ul li:nth-child(2) a:before{
    background: #55acee;
  }
  
  ul li:nth-child(3) a:before {
    background: #0077b5;
  }
  
  ul li:nth-child(4) a:before {
    background: #dd4b39;
  }